.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
  .benvenuto{
    color:#f8a62b
  }
  .content {
    transform: translate(0, +30%);
    z-index: 1;
    color: #660808;
  }